.boxRegister {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 90%;
  margin: 1% 0%;
  padding: 0.5%;
  width: 70%;
}

.boxRegister h1 {
  font-size: 70%;
  text-align: start;
  margin: 0% 0% 0% 5%;
}

.boxRegister header {
  background-color: #c71f37;
  border-radius: 30px 20px 100px 20px;
  height: auto;
  width: 70%;
}

.boxRegister form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 80%;
  margin-top: 3%;
  width: 70%;
}

.boxRegister .boxField {
  height: 20%;
}

@media screen and (max-width: 800px) {
  .boxRegister {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .boxRegister {
    height: 100%;
    margin: 0%;
    width: 100%;
  }

  .boxRegister form {
    height: 40%;
  }
}
