.message_comp {
  align-items: center;
  background-color: #242423;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 7%;
  justify-content: flex-start;
  left: 3vw;
  padding: 0 1%;
  position: absolute;
  top: 12%;
  width: 90vw;
  z-index: 2;
}

.message_comp > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 1%;
  padding: 0;
}

.message_comp > button > .material-icons {
  color: white;
  font-size: 1em;
  height: 1em;
}

.message_comp > strong {
  font-size: 1em;
  padding: 2%;
}
