.boxLogin {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 90%;
  margin: 1% 0%;
  padding: 0.5%;
  width: 60%;
}

.boxLogin h1 {
  font-size: 70%;
  text-align: start;
  margin: 0% 0% 0% 5%;
}

.boxLogin header {
  background-color: #c71f37;
  border-radius: 30px 20px 100px 20px;
  height: auto;
  width: 70%;
}

.boxLogin form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 60%;
  margin-top: 3%;
  width: 70%;
}

.buttonRouter {
  text-align: center;
  font-size: 40%;
  height: 10%;
  margin-top: 1%;
  width: 40%;
}

@media screen and (max-width: 800px) {
  .boxLogin {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .boxLogin {
    height: 100%;
    margin: 0%;
    width: 100%;
  }

  .boxLogin button {
    height: 7%;
  }
}
