.boxHome {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 90%;
  margin: 1% 0%;
  padding: 1%;
  width: 90%;
}

.homeMenu {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 10%;
  width: 60%;
}

.homeMenu button {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .boxLogin {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .boxLogin {
    height: 100%;
    margin: 0%;
    width: 100%;
  }
}
