.boxChat {
  align-content: center;

  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 85%;
  margin: 1% 0%;
  padding: 1%;
  width: 90%;
}

.boxChat div {
  border-radius: 50px;
  border: 10px double #027a9f;
  padding: 1% 0.5%;
  height: 85%;
  width: 90%;
}

.boxChat form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 8%;
  margin-top: 3%;
  width: 70%;
}

.boxChat input {
  height: 100%;
  width: 70%;
}

.boxChat button {
  width: 20%;
}

@media screen and (max-width: 800px) {
  .boxLogin {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .boxLogin {
    height: 100%;
    margin: 0%;
    width: 100%;
  }
}
