.boxField {
  align-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  background-color: #463f3a;
  border-radius: 30px 30px;
  justify-content: center;
  height: 30%;
  width: 80%;
}

.boxField input {
  text-align: center;
  height: 40%;
  width: 80%;
}

.boxField p {
  font-size: 20%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  /* .boxField {
    height: 15%;
  } */
}
